<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Encurtador de links</title>
	<style>
		*{
			margin: 0;
			padding: 0;
		}
		body{
			background: black;
		}
		
		.container {
			margin-top: 10%;
			margin-left: 30%;
			margin-right: 30%;
			padding: 15px;
			border-radius: 20px;
		}

		.box form  {
			background:rgba(167, 164, 164, 0.5);
			border-radius: 20px;
			padding: 50px;
			min-height: 20px;
			min-width: 150px;
		}
		h1{
			color:rgba(167, 164, 164, 0.5); ;
		}
	</style>
</head>
{% block 'body'%}
<body>
	<div class="container">
		<h1 class="heading">Encurtador de links</h1>
		<div class="box">
		<form action="{% url 'valida_link' %}" method="POST" >
			{% csrf_token %}
			<table>
				<label for="">Link para encurtar: </label>
				{{form.link_redirecionado}}
			</table>
			<br>
			
			<table>
				<label for="">Digite como desejar o seu link: </label>
				{{form.link_encurtado}}
			</table>
			{% if status == "0" %}
			<p style="color: red;">Link Digitado é invalido: </p>
			{% endif %}
			<br>
			<input type="submit" >
			<br>
			<hr>
			<a href="#"> {{ link_final }} </a>
			
		</form>
		</div>
	</div>
	
</body>
{% endblock %}
</html>